{
  "extends": "airbnb",
  "rules": {
    "semi": "off",
    "comma-dangle": "off",
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "react/prop-types": "off",
    "react/no-danger": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off"
  },
  "globals": {
    "location": true,
    "document": true,
    "__DEV__": true
  }
}