.page-posts {
  h5 {
    width: 90%;
    margin: 0 auto 10px;
    text-align: right;
    color: #999;
    height: 22px;
    line-height: 22px;
  }
  .iconfont {
    font-size: 22px;
  }
  .icon-active {
    color: #34c449;
  }
}
